.mainComp {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  padding: 12px;
  background-color: white;
}
.mainComp > div {
  padding: 16px;
}
.introduction {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.installation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* .installation > div {
  padding: 12px;
} */
.codeDiv {
  padding: 12px;
  width: max-content;
  background-color: #ddd3d385;
  line-height: 32px;
}
.codeDiv > code {
  font-size: 24px;
}
.server {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.note {
  height: max-content;
  width: max-content;
  padding: 16px;
  border: 2px solid #e9d502;
}
